<div class="angry-grid">
  <div id="item-0">
    <h3>Online users</h3>
    <div *ngIf="user | async">
      <span>{{ (user | async)?.displayName }}</span>
    </div>
  </div>

  <div id="item-1">
    <div *ngFor="let message of messages">
      <p>{{ message.username }}: </p>
      <span>{{ message.message }}</span>
    </div>
  </div>

  <div id="item-2">
    <form class="example-form" (ngSubmit)="sendMessage()" #f=ngForm>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Message</mat-label>
        <input matInput name="text" ngModel>
      </mat-form-field>
    </form>
  </div>
</div>
