.angry-grid
  display: grid

  grid-template-rows: 1fr 1fr
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr

  gap: 0
  height: 90%

#item-0
  text-align: center
  background: whitesmoke
  grid-row-start: 1
  grid-column-start: 1

  grid-row-end: 4
  grid-column-end: 2

#item-1
  background: #DEE4E7
  width: 100%
  grid-row-start: 1
  grid-column-start: 2

  grid-row-end: 3
  grid-column-end: 6

#item-2
  text-align: center
  padding: 15px 0 0
  grid-row-start: 4
  grid-column-start: 2

  grid-row-end: 3
  grid-column-end: 6

mat-form-field
  width: 90%

h3
  margin: 15px

#item-0 div
  padding: 10px
  border-top: 1px solid lightgray
  border-bottom: 1px solid lightgray

#item-0 div:hover
  background: rgb(229, 229, 234)
  cursor: pointer


